<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Chatkit Demo
    </ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form #f="ngForm" (ngSubmit)="uploadAvatar(f)">
    <ion-grid>
      <ion-row justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Update your profile photo</h3>
          </div>
          <div padding>
            <ion-item>
                <img *ngIf="avatarURL" [src]="avatarURL"
                />
            </ion-item>
            <ion-item>
              <input name="file" type="file" accept="image/x-png,image/jpeg" (change)="attachFile($event)" ngModel required />
            </ion-item>
          </div>

          <div padding>
            <ion-button size="large" type="submit" [disabled]="f.invalid" expand="block">Update photo</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
